.navBar {
    display: flex;
    justify-content: space-between;
}

.highScores {
    padding-left: 20px;
    color: darkred;
    font-size: larger;
}

.timer {
    padding-right: 20px;
    font-size: larger;
}

.mainClass {
    text-align: center;
    font-size: 20px;
}

.questionInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

.questionInfo p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5rem;
}

.startGame {
    padding: 10px 30px;
    font-size: 20px;
    background-color: darkred;
    border-style: dotted;
    color: seashell;
    cursor: grab;
    margin-right: 550px;

}

button {
    background-color: darkred;
    color: beige;
    display: flex;
    margin: 15px;
    font-size: 25px;
    margin-left: 500px;
    border-style:hidden;
}

.hidden1 {
    display: none;
}

.hiddenMessage {
    display: none;
}

.hiddenQuestion {
    display: none;
}

.options {
    list-style: none;
}